{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/juggling-balls-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "juggling-balls",
          name: "juggling-balls",
          fieldset: {
            legend: {
              text: "How many balls can you juggle?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "5 or more",
              text: "5 or more"
            },
            {
              value: "3 or 4",
              text: "3 or 4"
            },
            {
              value: "1 or 2",
              text: "1 or 2"
            },
            {
              value: "None - I cannot juggle",
              text: "None - I cannot juggle"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with juggling balls
            </span>
          </summary>
          <div class="govuk-details__text">
            Balls can include anything you can juggle. This can include sports balls, fruits, bean bags or soft-
          </div>
        </details>

      </form>

    </div>
  </div>

{% endblock %}
